.loginLogoutButton {
  background: #2E4B3A; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  transition: background 0.3s; 
}
.loginLogoutButton:hover { 
  background: #1E3525; 
}
.customToast {
  font-size: 1rem;
  padding: 8px 12px;
  max-width: 250px;
  min-height: 40px;
}
@media (max-width: 768px) {
  .login-logout-button {
    margin-top: 10px;
  }
  .customToast {
  font-size: 0.8rem;
  padding: 6px;
  max-width: 150px;
  min-height: 30px;
  }
}