.homeContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
  }
.container { 
	width: 80%; 
	margin: auto; 
	padding: 20px; 
	display: flex;
  flex-direction: column;
	flex: 1;
}
.homeH2 { 
	text-align: center; 
	padding: 10px; 
	font-size: 1.8rem;
	color: #4B6A51; 
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 0px;
	max-width: 700px;

}
@media (max-width: 768px) {
	.container { 
		width: 90%; 
		margin: auto; 
		padding: 20px 10px; 
		flex: 1;
	}
	.homeH2 {
		font-size: 0.9rem;
		margin-top: 5px;
		padding: 5px;
	}
}