.resetH2 {
	color: #4b8957;
  margin-bottom: 15px;
	font-size: 1.5rem;
}
.resetInput {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.resetEmailButton {
  width: 100%;
  background: #2E4B3A;
  color: white;
  border: none;
  border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
  cursor: pointer;
}
.resetEmailButton:hover, .resetLoginButton:hover {
  background: #1E3525;
}
.resetLoginButton{
	background:#2E4B3A;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
}
.resetCloseButtonContainer {
	position: absolute;
  top: 10px;
  right: 10px;
}
.resetCloseButton {
	background: none;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #333; 
	cursor: pointer;
	padding: 5px;
	outline: none; 
}
.resetCloseButton:hover {
	color: white;
	background-color:#1E3525; 
	border-radius: 5px;
}
.errorMessage {
  color: rgb(157, 16, 16);
  font-size: 14px;
  margin-bottom: 10px;
}
 