.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  flex-direction: row;  
  text-align: center;
  width: 100%;
}
.headerH1 { 
  color: #4B6A51;  
  font-size: 2.3rem;
}
.logoTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px;
}
.logoTitle a {
  text-decoration: none;
}
.logo {
  width: 100px; 
  height: auto;
}
.desktopMenu {
  display: flex;
  gap: 20px;
}
.dashboardLink {
  text-decoration: none; 
  color: #3e3e3e;  
}
.dashboardLink:hover {
  text-decoration: underline;  
}
.hamburgerMenu, .mobileMenu {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
.headerH4 {
  margin: 5px;
}
@media (max-width: 768px) {
  .header{
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }
  .headerH1 {
      font-size: 1.8rem; 
      margin: 5px 0px 10px 0px;
  }
  .logoTitle {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    gap: 0;
  }
  .logo {
    width: 80px; 
    height: auto; 
    margin: 0 auto; 
    display: block;
  }
  .dashboardLink {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  .hamburgerMenu {
    display: block; /* Show the hamburger icon */
    padding: 3px;
    background: #2E4B3A; 
    color: white; 
    border: none; 
    border-radius: 5px; 
  }
  .desktopMenu {
    display: none; /* Hide menu links by default */
  }
  .mobileMenu {
    display: none;
  }
  .mobileMenuOpen {
    display: flex; /* Show the menu when open */
    position: absolute;
    top: 175px;
    left: 0px;
    flex-direction: column;
    width: 100%;
    background-color: #423f3f;
    padding: 10px;
  }
  .mobileMenuOpen a,
  .mobileMenuOpen h4,
  .mobileMenuOpen button {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0px;
    border: none;
    background: transparent;
    font-size: 1.0rem; 
  }
  .mobileMenuOpen a:hover,
  .mobileMenuOpen button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }
  
    }  
  