.container { 
  width: 80%; 
  margin: auto; 
  padding: 20px; 
  flex: 1;
}
h2 { 
  text-align: center; 
  padding: 10px; 
  font-size: 2.0rem;
  color: #4B6A51; 
  margin-top: 0;
	margin-bottom: 10px;
}
button { 
  background: #2E4B3A; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  transition: background 0.3s; 
}
button:hover { 
  background: #1E3525; 
}
.plantList {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 10px;
  list-style: none;
}
@media (max-width: 768px) {
  p{
    font-size: 1rem;
    margin: 10px;
  }
}