h2 { 
	text-align: center; 
	padding: 10px; 
	font-size: 1.8rem;
	color: #4B6A51; 
	margin-top: 0;
	margin-bottom: 10px;
}
.resetEmailButton{
	background: green;
	margin-top: 10px;
}
.resetLoginButton{
	background: green;
	margin-top: 20px;
}

 