.footerContainer {
    width: 100%;
    background-color: #2E4B3A;
    color: white;  
    text-align: center; 
    padding: 5px;
    margin-top: auto;
  }
  .footerH5 {
    margin: 10px;
    
  }
  @media (max-width: 768px) {
    .footerContainer {
      width: 100%;
      background-color: #2E4B3A;
      color: white;  
      text-align: center; 
      padding: 0px;
      margin-top: auto;
    }
  .footerH5 {
    line-height: 1.5;
    margin: 10px;
  }
}