.container { 
	width: 80%; 
	margin: auto; 
	padding: 20px; 
	flex: 1;
}
.mainH2 { 
	text-align: center; 
	padding: 10px; 
	font-size: 1.7rem;
	color: #4B6A51; 
	margin-top: 0;
	margin-bottom: 10px;
}
@media (max-width: 768px) {
	.mainH2 {
		font-size: 1.4rem;
	}
}