@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  box-sizing: border-box;
}
html, body {
	font-family: "Quicksand", sans-serif;
	line-height: 1;
	background-color: #F8F5EE; 
	margin: 0; 
	padding: 0; 
	color: #3E3E3E; 
	display: flex;
	flex-direction: column;
}
.container { 
  width: 80%; 
  margin: auto; 
  padding: 20px; 
  flex: 1;
}
.login-logout-button {
  height: 30px;
  padding: 5px 10px;
}

h1 { 
  color: #4B6A51;  
	font-size: 2.5rem;
	margin: 5px 0;
  width: 350px;
}
h2 { 
  text-align: center; 
  padding: 10px; 
  font-size: 2.0rem;
  color: #4B6A51; 
  margin-top: 0;
	margin-bottom: 10px;
}
h3 {
  margin-top: 60px;
  text-align: left;
  font-size: 1.2rem;
  color: #3E3E3E;
}
h4, h5 {
  margin: 5px;
}

button { 
  background: #2E4B3A; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  transition: background 0.3s; 
}
button:hover { 
  background: #1E3525; 
}
.delete-message {
  text-align: center;
  font-size: 1.2rem;
	color: #3E3E3E;
}
.plant-details {              
  width: 100%;
  background: #ffffff; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.link-header-dashboard{
  display: block;
  width: 100%;   /* Make the <a> take up 100% of the header's width */
  height: 100%;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.login-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  border: 2px solid #4a4a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.login-box h2 {
  margin-bottom: 15px;
}
.login-box input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box form button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-box button:hover {
  background: darkgreen;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.close-button-container {
	position: absolute;
  top: 10px;
  right: 10px;
}
.close-button {
	background: none;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #333; 
	cursor: pointer;
	padding: 5px;
	outline: none; 
}
.close-button:hover {
	color: black; 
}
.login-account-button {
	padding: 10px;
	background: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.login-box button:hover {
    background: darkgreen;
}
.forgot-password-button {
	background: green;
}
.login-box button:hover {
	background: darkgreen;
}
.reset-email-button{
  background: green;
  margin-top: 10px;
}
.reset-login-button{
  background: green;
  margin-top: 20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.8rem; 
	}
	h2{
		font-size: 1.2rem;
	}
	h3{
		font-size: 1.0rem;
    margin: 10px;
    text-align: center;
	}
  .login-logout-button {
    margin-top: 10px;
  }
  p{
    font-size: 0.8rem;
    margin: 10px;
  }
}