@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  box-sizing: border-box;
}
html, body {
	font-family: "Quicksand", sans-serif;
	line-height: 1;
	background-color: #F8F5EE; 
	margin: 0; 
	padding: 0; 
	color: #3E3E3E; 
	display: flex;
	flex-direction: column;
}
.container { 
  width: 80%; 
  margin: auto; 
  padding: 20px; 
  flex: 1;
}
h1 { 
  color: #4B6A51;  
	font-size: 2.5rem;
	margin: 5px 0;
  width: 350px;
}
h2 { 
  text-align: center; 
  padding: 10px; 
  font-size: 2.0rem;
  color: #4B6A51; 
  margin-top: 0;
	margin-bottom: 10px;
}
h3 {
  margin-top: 60px;
  text-align: left;
  font-size: 1.2rem;
  color: #3E3E3E;
}
h4, h5 {
  margin: 5px;
}

button { 
  background: #2E4B3A; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  transition: background 0.3s; 
}
button:hover { 
  background: #1E3525; 
}
.delete-message {
  text-align: center;
  font-size: 1.2rem;
	color: #3E3E3E;
}
.link-header-dashboard{
  display: block;
  width: 100%;   /* Make the <a> take up 100% of the header's width */
  height: 100%;
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.8rem; 
	}
	h2{
		font-size: 1.2rem;
	}
	h3{
		font-size: 1.0rem;
    margin: 10px;
    text-align: center;
	}
  .login-logout-button {
    margin-top: 10px;
  }
  p{
    font-size: 0.8rem;
    margin: 10px;
  }
}