.container { 
  width: 80%; 
  margin: auto; 
  padding: 20px; 
  flex: 1;
}
.authContainer {
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.authBox {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  border: 4px solid #A8C686; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authBoxH2 {
  font-size: 1.2rem;
  margin: 10px;
}
.authBoxLink {
  font-size: 1.1rem;
  text-decoration: none; 
  color: #398f5d;  
  font-weight: bold;
}
.authBoxLink:hover {
  text-decoration: underline;  
  color:  #3E3E3E;
}
.dashboardH2 { 
  text-align: center; 
  padding: 10px; 
  font-size: 2.0rem;
  color: #4B6A51; 
  margin-top: 0;
	margin-bottom: 10px;
}
.addMoreButton { 
  background: #2E4B3A; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  transition: background 0.3s; 
  margin: 0px auto; 
  display: block;
  border: none; 
}
.addMoreButton:hover { 
  background: #1E3525; 
}

@media (max-width: 768px) {
  .container { 
    width: 90%; 
    margin: 0 auto; 
    padding: 0px; 
    flex: 1;
  }
  .dashboardH2 {
    font-size: 1.3rem;
    padding: 0;
  }
  .addMoreButton { 
    background: #2E4B3A; 
    color: white; 
    border: none; 
    padding: 6px; 
    font-size: 0.7rem;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    transition: background 0.3s;
    display: block;
    margin: 0 auto;  
  }
  .addMoreButton a {
    text-decoration: none;
  }
  .addMoreButton:hover { 
    background: #1E3525; 
  }
}